<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">

		<div class="card">
			<div class="card-header bg-primary text-white">
				<h3>EMPLOYEE REPORT PAGE</h3>
			</div>
			<div class="card-body">
				<div class="alert alert-danger">Click below Links to Download Excel Data</div>
				<a th:href="@{/emp/exportBrands}" type="button" class="btn btn-outline-primary btn-lg">
					Brands : [[${brands}]]
				</a>
				<a th:href="@{/emp/exportCategoryTypes}" type="button" class="btn btn-outline-success btn-lg">
					CategoryTypes : [[${categoryTypes}]]
				</a>
				<a  th:href="@{/emp/exportcategories}" type="button" class="btn btn-outline-info btn-lg">
					Categories: [[${categories}]]
				</a>
				
				
			</div>

		</div>
	</div>
</body>

</html>
